.flow-buttons{
  background: #fbca1f;
  font-family: Helvetica;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.flow-buttons:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.flow-buttons:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.gamble-menu {
    height:100px;
    width:200px;
    margin-left: 20px;
    margin-right: 20px;
}
.flow-buttons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

}

button{
    cursor:pointer;
}
.gamble-menu{
    cursor:pointer
}